

$maincolor: black;
$contrastcolor: white;

@mixin white-text-black-bg {
    color: $contrastcolor;
    background-color: $maincolor;
}

nav {
    @include white-text-black-bg;
    display: flex;
    justify-content: flex-start;

    a{
        @include white-text-black-bg()
    }
        div {
            margin: 10px;
        }
}

img {
    width: 300px;
    height: 300px;
    border-radius: 90px;
    object-fit: cover;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
    grid-gap: 16px;
}